* {box-sizing: border-box;}
body {
  background-color: rgba(0,0,0,.5);

}

/* just for App level */
.top-wrapper {
  max-width: 100%;
  max-height: auto;
  /*margin: 0 auto;*/
}
.top-wrapper > div {
  border: 2px solid rgb(0,0,0);
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  padding: 1em;
  color: #ddeeee;
  font-family: "Trebuchet MS";

}.top-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /*grid-auto-columns: minmax(100px, auto);*/
}

/* for container levels */
.wrapper {
  max-width: 100%;
  max-height: 100%;
  /*margin: 0 auto;*/
}
.wrapper > div {
  border: 2px solid rgb(175,175,0);
  border-radius: 5px;
  background-color: rgba(15,50,100,.7);
  padding: 1em;
  color: #ddeeee;
  font-family: "Trebuchet MS";
}.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /*grid-auto-columns: minmax(100px, auto);*/

}

.navbar {
  grid-column: 1/5;
  grid-row: 1;
}

.link {
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: rgba(30,100,200,.7);
  color: #ddeeee;
  border: 2px solid rgb(175,175,0);
  border-radius: 5px;
}
.active {
  background: darkblue;
}

/* for project list, profile view at "/users/:id" */
.home-container {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}
.project-list {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}
.project-list-item {
  float: left;
  
}
.profile {
  grid-column: 1;
  grid-row: 1 / 4;
}
.filter {
  grid-column: 2 / 4;
  grid-row: 1;
}
.new-project-button {
  grid-column: 4;
  grid-row: 1;
}

/* for single project view/workspace */
.project-container {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}
.current-item {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  height: 600px;
}
.button-block {
  grid-column: 1;
  grid-row: 3;
}
.items-list {
  grid-column: 4;
  grid-row: 1 / 6;
}
.core-items-list {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}

/* feed */
.feed-list {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
}
.feed-list-item {
  border: 2px solid rgb(0,0,0);
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  padding: 1em;
  color: #ddeeee;
}
.feed-image {
  max-height: 300px;
  max-width: auto; 
}
/* search */
.search-bar {
  grid-column: 2 / 4;
  grid-row: 1;
}
.results-list {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}


img {
  display: inline;
  max-width: 90%;
  border: 4px groove rgb(160,160,160);
}

.item {
  white-space: nowrap;
  float: left;
  /*max-height: 100px;
  max-width: auto;*/
}

.item-image {
  max-width: 15%;
}
.core-item {
  max-width:30%;
}
.non-core-item {
  max-width: 90%;
}
.current-item-image {
  max-width: auto;
  max-height: 500px;
}




/* assorted non-grid styling below */
.scrollable {
  overflow: scroll;
}
.scrollable-x {
  white-space: nowrap;
  overflow-x: scroll; 
}
.no-wrap {
  display: inline;
  white-space: nowrap;

}
.hidden {
  overflow: hidden;
}
.inline {
  display: inline;
}
.spec-text {
  color: rgb(230,200,0);
}
.arrow {
  border: none;
}
h3 {
  color: rgb(230,200,0);
}
h2 {
  color: rgb(230,200,0);
}
.logo {
  color: rgb(230,200,0);
  float: right;
}
.results-list-item {
  /*max-height: 300px;*/
}
.sign-in {
  grid-column: 2 / 4;
  grid-row: 1;
}



