* {box-sizing: border-box;}

/* just for App level */
.top-wrapper {
  max-width: 100%;
  max-height: 75%;
  margin: 0 auto;

}
.top-wrapper > div {
  border: 2px solid rgb(0,0,0);
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  padding: 1em;
  color: #ddeeee;
}.top-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* for container levels */
.wrapper {
  max-width: 100%;
  max-height: 75%;

  margin: 0 auto;
}
.wrapper > div {
  border: 2px solid rgb(30,100,200);
  border-radius: 5px;
  background-color: rgba(30,100,200,.5);
  padding: 1em;
  color: #080008;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, 200px);
}

.navbar {
  grid-column: 1/5;
  grid-row: 1;
}

/* for project list, profile view at "/users/:id" */
.home-container {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}
.project-list {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
}
.project-list-item {
  float: left;
}
.profile {
  grid-column: 1;
  grid-row: 1 / 4;
}
.filter {
  grid-column: 2 / 4;
  grid-row: 2;
}
.new-project-button {
  grid-column: 4;
  grid-row: 2;
}

/* for single project view/workspace */
.project-container {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}
.current-item {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.button-block {
  grid-column: 1;
  grid-row: 3;
}
.items-list {
  grid-column: 4;
  grid-row: 2 / 6;
}
.core-items-list {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}


img {

    display: inline;
}
.item {
  white-space: nowrap;
  float: left;

}



/* assorted non-grid styling below */
.scrollable {
  overflow: scroll;
}
.scrollable-x {
  white-space: nowrap;
  overflow-x: scroll; 
}
.hidden {
  overflow: hidden;
}
.project-list-item {
  
}



